<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src={{logo}}
      alt="Nom du site et nom de la région qui a lancé ce site"></a>
    <button class="btn navbar-toggler" type="submit"><img class="search" src={{search}} alt="loupe bleue"></button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/batiment">Bâtiment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fabrication">Fabrication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/alimentation">Alimentation</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn" type="submit"><img class="search" src={{search}} alt="loupe bleue"></button>
      </form>
    </div>
  </div>
</nav>

<div class="header">
  <img class="blurred-landscape" src={{picture}} alt="photo floutée d'une chaîne de montagne">
  <form class="research d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
    <button class="btn" type="submit"><img class="search" src={{search}} alt="loupe bleue"></button>
  </form>
</div>

<router-outlet></router-outlet>


<div class=" footer text-center mt-4">
  <div class="row">
    <div class="col-md-4 mb-4">
          <div class="location">
            <img class="location-icon" src={{location}} alt="icone de localisation">
            <p>101 cours de Charlemagne <br>
            CS 20033 <br>
            69269 LYON CEDEX <br>
          FRANCE</p>
          </div>
    </div>
    <div class="col-md-4 mb-4">
      <img class="logo" src={{logo}} alt="Nom du site et nom de la région qui a lancé ce site">
    </div>
    <div class="col-md-4 mb-4">
        <div class="link-footer">
          <ul class="list-unstyled">
            <li><i class="fa fa-arrow-right"></i> <a class="legal-notices" href="#">Mentions légales</a></li>
            <li><i class="fa fa-arrow-right"></i> <a class="personnal-datas" href="#">Données personnelle</a>s</li>
            <li><i class="fa fa-arrow-right"></i> <a class="accessibility" href="#">Accessibilité</a></li>
            <li><i class="fa fa-arrow-right"></i> <a class="cookies" href="#">Cookies</a></li>
          </ul>
        </div>
    </div>
  </div>
</div> 