.navbar{
    background-color: #fff !important;
}

.logo {
    width: 250px;
    padding: 10px;
}

.navbar-toggler {
    color : #0074C7;
    border: none !important;
}

.form-control{
    color:#0074C7;
    border :solid;
    border-color : #0074C7;
    border-left : none;
    border-top : none;
}

.form-control::placeholder{
    color:#0074C7;
}

.search {
    width:30px;
}

.navbar-nav{
    margin : auto 70px;
}
.nav-link{
    color :#fff !important;
}

.nav-item{
    margin : auto 20px;
    background-color: #0074C7;
    border-radius: 20px;
    padding:0 10px;
}

.header{
    position: relative;
}

.blurred-landscape{
    width: 100vw;
    max-height :300px;
}

.research{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
}

.footer{
    width: 100vw;
    color: #fff;
    background-color: #0074C7;
    padding-top: 30px;
    margin : 0;
}

.logo{
   background-color: #fff;
}

.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.location p {
    margin:10px;
}

.location-icon{
    width:50px;
}

.list-unstyled a{
    color: #fff;
    text-decoration: none;
}

.list-unstyled a:hover{
    text-decoration: underline;
}