.part-one {
  color: #00497c;
}

.artisan {
  border: 2px solid #0074c7;
  background-color: #f1f8fc;
  padding: 30px;
  /* margin: 0 10px; */
}

.artisan-one {
  
  margin: 10px;
  margin-bottom: 0;
  margin-top: 30px;
}

.div-picture-artisan-one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-artisan-one {
  width: 100px;
}

.opinion-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.opinion {
  background-color: #0074c7;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  border-radius: 30px;
  padding: 0 10px;
}

.opinion p {
  margin: 10px;
  margin-right: 30px;
}
.stars {
  display: flex;
  flex-direction: row;
}

.star {
  width: 20px;
}

.location {
  padding: 10px;
}
